# Ambientes virtuais
venv/
backend/venv/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*.so
*.pyo
*.egg

# Arquivos de configuração local
.env
*.sqlite3
*.log

# IDEs
.vscode/
.idea/

# Arquivos do sistema
.DS_Store

# Arquivos do Django
db.sqlite3
staticfiles/
