#python3 -m venv venv
#source venv/bin/activate
#pip install -r requirements.txt

Django==5.2
celery==5.3.6
redis==5.0.1
transformers==4.41.1
torch==2.3.0
sumy==0.11.0
beautifulsoup4==4.12.3
nltk==3.8.1
lxml==5.1.0

#docker run -d -p 6379:6379 --name redis redis
#docker redis redis
#celery -A backend worker --loglevel=info
#python manage.py runserver