#cd traducao-academica
#source venv/bin/activate
#python3 -m venv venv
#pip install -r requirements.txt

Django==5.2
celery==5.3.6
redis==5.0.1
transformers==4.41.1
torch==2.3.0
sumy==0.11.0
beautifulsoup4==4.12.3
nltk==3.8.1
lxml==5.1.0


#docker run -d --name redis -p 6379:6379 redis

#docker redis redis
#celery -A backend worker --loglevel=info
#.\venv\Scripts\Activate.ps1

#python manage.py 

#instalando o Ollama:
#curl -fsSL https://ollama.com/install.sh | sh
#ollama pull llama3
#ollama run llama3

#https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.xda-developers.com%2F4-features-notebooklm-should-have%2F&psig=AOvVaw3FkBhkBQjpt77K2Sd2RKH3&ust=1749039971427000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNCzgtWf1Y0DFQAAAAAdAAAAABAX
